[submodule "molgrapher-service/MolGrapher"]
	path = molgrapher-service/MolGrapher
	url = https://github.com/DS4SD/MolGrapher.git
[submodule "third_party/virtual-display-driver"]
	path = third_party/virtual-display-driver
	url = https://github.com/VirtualDrivers/Virtual-Display-Driver.git
